<div class="bookmark">
  <h1>My Saved Recipe page</h1>

  <% if @recipes.empty? %>
    Sorry, there is no recipe under this category
  <% else %>
    <div>
      <% @recipes.each do |recipe| %>
        <div class="recipe-box">

          <div class="left">
            <div class="title"><%= recipe.title %></div>
            <div class="prep-time"><%= recipe.prep_time %> minutes</div>
            <div class="difficulty"> <%= recipe.difficulty %></div>
            <div class="serving"> <%= recipe.serving %></div>
            <div class="view-recipe"><a href="/recipe/<%= recipe.id %>">View recipe</a></div>
          </div>

          <div class="right">
            <div><a href="/recipe/<%= recipe.id %>"><img class="list-recipe-image" src="<%= recipe.image %>"></a></div>
          </div>

        </div>

      <% end %>
    </div>
  <% end %>

</div>
