<div class="recipe-list">
  <h1>Recipes by Category</h1>

  <% if @recipes.empty? %>
    Sorry, there is no recipe under this category
  <% else %>
    <div>
      <% @recipes.each do |recipe| %>
        <div class="recipe-box">

          <div class="left">
            <div class="title"><%= recipe.title %></div>
            <div class="prep-time"><%= recipe.prep_time %> minutes</div>
            <div class="difficulty"> <%= recipe.difficulty %></div>
            <div class="serving"> <%= recipe.serving %></div>
            <div class="view-recipe"><a href="/recipe/<%= recipe.id %>">View recipe</a></div>
            <% if !is_recipe_has_been_bookmarked(recipe.id) && logged_in? %>
            <div class="">
              <form class='same-line' action="/bookmark" method="post">
                <input type="hidden" name="recipe_id" value="<%= recipe.id %>">
                <button class="button button3 same-line" type="submit">
                  Add Boookmark
                </button>
              </form>
            </div>
            <% end %>

          </div>

          <div class="right">
            <div><a href="/recipe/<%= recipe.id %>"><img class="list-recipe-image" src="<%= recipe.image %>"></a></div>
          </div>

        </div>

      <% end %>
    </div>
  <% end %>

</div>
