<div class="homepage">
  <h2>Category</h2>
  <!-- container to show categories -->
  <div class="category-wrapper">
    <!-- loop category list and display -->
    <% @categories.each do |category| %>
      <div class="category-box">
        <div><%= category.name %></div>
        <div><a href="/category/<%= category.id %>/recipe"><img class="category-image" src="<%= category.image %>"></a></div>
      </div>
    <% end %>
  </div>

  <hr/>
  <!-- container to show top 3 recipes for each category -->
  <div class="all-recipe-list">
    <!--- loop category list and each of category loop again to get top 3 recipes -->
    <div class="category-cake-recipe same-line">
      <div class=""><h2>Recent <%= @categories[0].name%> recipe</h2></div>
      <% @recent_3_recipe_category1.each do |recipe| %>
      <div class=""><a href="/recipe/<%= recipe.id %>"><%= recipe.title %></a></div>
      <% end %>
    </div>
    <div class="category-ice-cream-recipe same-line">
      <div class=""><h2>Recent <%= @categories[1].name%> recipe</h2></div>
      <% @recent_3_recipe_category2.each do |recipe| %>
      <div class=""><a href="/recipe/<%= recipe.id %>"><%= recipe.title %></a></div>
      <% end %>
    </div>
    <div class="category-drink-recipe same-line">
      <div class=""><h2>Recent <%= @categories[2].name%> recipe</h2></div>
      <% @recent_3_recipe_category3.each do |recipe| %>
      <div class=""><a href="/recipe/<%= recipe.id %>"><%= recipe.title %></a></div>
      <% end %>
    </div>
  </div>
</div>
