<form action="/recipe/<%= @recipe.id %>" method="post">
  <input type="hidden" name="_method" value="put">

  <div>Title: <input type="text" name="title" value="<%= @recipe.title %>"></div>
  <div>Category:
    <select name="category_id">
      <% @categories.each do |category| %>
        <% if category.id == @recipe.category_id %>
            <option value="<%= category.id %>" selected><%= category.name %></option>
          <% else %>
            <option value="<%= category.id %>"><%= category.name %></option>
        <% end %>
      <% end %>
    </select>
  </div>
  <div>Prep & cooking time: <input type="text" name="prep_time" value="<%= @recipe.prep_time %>"></div>
  <div>Difficulty: <input type="text" name="difficulty" value="<%= @recipe.difficulty %>"></div>
  <div>Serving: <input type="text" name="serving" value="<%= @recipe.serving %>"></div>
  <div>Method: <textarea name="content" rows="8" cols="80"><%= @recipe.content %></textarea></div>

  <div>Picture: <textarea name="image" rows="8" cols="80"><%= @recipe.image %></textarea></div>
  <button class="button full-width" type="submit">Update Recipe</button>

</form>
