<h1>Recipe List by Category page</h1>

<% if @recipes.empty? %>
  Sorry, there is no recipe under this category
<% else %>
  <div>
    <% @recipes.each do |recipe| %>
      <div><%= recipe.title %></div>
      <div><a href="/detail/<%= recipe.id %>"><img class="list-recipe-image" src="<%= recipe.image %>"></a></div>
      <div>Prep & cooking time: <%= recipe.prep_time %></div>
      <div>Difficulty: <%= recipe.difficulty %></div>
      <div>Serving: <%= recipe.serving %></div>
      <a href="/recipe/<%= recipe.id %>">View recipe</a> <br/>
    <% end %>
  <div>
<% end %>
