<h1>Recipe List by Category page</h1>

<div>
  <% @recipes.each do |recipe| %>
    <div><%= recipe.title %></div>
    <div><a href="/detail/<%= recipe.id %>"><img class="list-recipe-image" src="<%= recipe.image %>"></a></div>
    <div>Prep & cooking time: <%= recipe.prep_time %></div>
    <div>Difficulty: <%= recipe.difficulty %></div>
    <div>Serving: <%= recipe.serving %></div>
    <a href="/detail/<%= recipe.id %>">View recipe</a> <br/>
  <% end %>
<div>
