<h1>Recipe List by Category page</h1>

<div>
  <% @recipes.each do |recipe| %>
    <div><%= recipe.title %></div>
    <div><a href="/detail/<%= recipe.id %>"><img class="list-recipe-image" src="<%= recipe.image %>"></a></div>
    <div>Prep & cooking time: <%= recipe.prep_time %></div>
    <div>Difficulty: <%= recipe.difficulty %></div>
    <div>Serving: <%= recipe.serving %></div>
    <a href="/detail/<%= recipe.id %>">View recipe</a> <br/>
  <% end %>
<div>


<!-- </div> </br></br>

<div>
  <div>Chessecake</div>
  <div><a href="/detail/2"><img src="http://via.placeholder.com/100x100"></a></div>
  <div>Prep & cooking time: 20 mins</div>
  <div>Difficulty: medium</div>
  <div>Serving: serves 8</div>
  <a href="/detail/2">View recipe</a> <br/>

</div> -->
