<h1>Recipe Detail Page</h1>


<% if @recipe.nil? %>
  <div class="">not found</div>
<% else %>
  <div>
    <div><%= @recipe.title %></div>
    <div><img src="<%= @recipe.image %>"></div>
    <div>Prep & cooking time: <%= @recipe.prep_time %></div>
    <div>Difficulty: <%= @recipe.difficulty %></div>
    <div>Serving: <%= @recipe.serving %></div>
    <div>Method: <%= @recipe.content %></div>
  </div>
<% end %>
