<form action="/detail/<%= @recipe.id %>" method="post">
  <input type="hidden" name="_method" value="put">

  <div>Title: <input type="text" name="title" value="<%= @recipe.title %>"></div>
  <!-- <div>Category: <input type="text" name="category" value=""></div> -->
  <div>Prep & cooking time: <input type="text" name="prep_time" value="<%= @recipe.prep_time %>"></div>
  <div>Difficulty: <input type="text" name="difficulty" value="<%= @recipe.difficulty %>"></div>
  <div>Serving: <input type="text" name="serving" value="<%= @recipe.serving %>"></div>
  <div>Method: <textarea name="content" rows="8" cols="80"><%= @recipe.content %></textarea></div>

  <div>Picture: <textarea name="image" rows="8" cols="80"><%= @recipe.image %></textarea></div>
  <button type="submit">Update</button>

</form>
